
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Righteous', cursive;

}

body {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('./background-image-blocksfall.jpeg');
    background-color: #fad02c;
    height: 100%;
}

.paragrafo{
    color: white;
    font-size: 15px;
}
.paragrafo1{
    color: orange;
}

#main {
    position: relative;
    width: 50%;
    height: 95%;
    margin: auto;
    padding-bottom: 10px;
}

div.main2{
    display: block;
}

img.icon {  
    position: absolute;
    display: block;
    width: 100px;
    height: 80px;
    top: 100%;
    left: 100%;
    margin-top: -90px; 
    margin-left: -110px;
}

.title {
    box-shadow: 10px 10px black;
    padding: 10px;
    color: yellow;
    margin: 150px auto 0 auto;
    width: 400px;
    text-align: center;
    font-size: 70px;
    background-color: #202028;
    border: 2px solid #202028;
    user-select: none;
}

.title:hover {
    color: #202028;
    background-color: yellow;
    border: 2px solid yellow;
}

div.divbtn {
    margin: 0 auto;
    text-align: center;
}

a.btn2 {
    font-size: 35px;
    width: 300px;
}

a.btn3 {
    color: #202028;
    background-color: yellow;
}

a.btn3:hover {
    color: yellow;
    background-color: #202028;
}

.btn {
    border-top: 10px solid rgb(255, 183, 50);
    border-left: 10px solid rgb(255, 183, 50) ;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    cursor: pointer;
    margin: 50px auto 0 auto;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 15px 40px;
    font-size: 55px;
    background-color: orange;
    text-align: center;
    user-select: none;
}
  
.btn:hover {
    border-top: 10px solid black;
    border-left: 10px solid black ;
    border-bottom: 10px solid rgb(255, 183, 50);
    border-right: 10px solid rgb(255, 183, 50);
    text-decoration: none;
    color: #202028;
}

canvas {
    margin: 0 auto;
    padding: 0;
    border: 5px solid orange;
    width: 290px;
    height: 580px;
}

a#btndia{
    border: 2px solid black;
    display: inline;
    height: 3px;
    width: 15px;
    padding: 0 15px;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    margin: 0;
    border-radius: 10%;
}

a#btndia:hover{
    background-color: black;
    color: orange;
}

h4 {
    padding: 20px;
    color: #fad02c;
    margin: 10px auto 5px auto;
    width: 250px;
    text-align: center;
    font-size: 20px;
    background-color: #202028;
    border: 2px solid orange;
    border-radius: 5px;
    user-select: none;
}

.score {
    color: white;
}

#dia{
    z-index: 3;
    margin-top: 50px;
    width: 500px;
    height: 500px;
    background-color: orange;
    border: 10px solid black ;
    box-shadow: 10px 10px  gray; 
}

dialog::before {
    background: hsla(0, 0%, 0%, .5);
}

.all {
    display: flex;
    margin-bottom: 10px;
}

.manual{
    background-color: #202028;
    padding: 25px;
    border: 5px solid orange;
}

#col1{
    width: 250px;
    margin-right: 10px;
}


@media screen and (max-width: 500px) {
    
    #main{
        width: 95%;
    }

    .title {
        width: 250px;
        font-size: 35px;
    }
    
    a.btn2 {
        font-size: 20px;
        width: 200px;
    }
   
    .btn {
        font-size: 35px;
    }
   
} 