
html {
    height: 100%;
    overflow: hidden;
    font-family: 'Righteous', cursive;
}

body {
    background-color: #fad02c;
    height: 100%;
}

canvas {
    margin-top: auto;
    background-color: black;
    width: 240px;
    height: 400px;
}

h4 { 
    margin-top: 30px;
    margin-bottom: -30px;
    text-align: center;
    color: white;
    user-select: none;
}

#main {
    border: 10px solid white;
    width: 240px;
    height: 450px;
    margin: auto;
    background-color: #202028;
}

