
@font-face {
	font-family: FORCED-SQUARE;
	src: url(./FORCED-SQUARE.ttf)
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: FORCED-SQUARE, cursive;
}

body {
    display: flex;
    flex-direction: row;
    background-color: orange;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url('./background-image-blocksfall.jpeg');
}

.container{
    width: 90%;
    height: 90%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main {
    background-color: orange;
    border: 10px solid black;
    height: 80%;
    width: 60%;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    margin: 0;
    font-size: 100px;
    user-select: none;
}

.btn {
    border-top: 10px solid rgb(255, 183, 50);
    border-left: 10px solid rgb(255, 183, 50) ;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 15px 40px;
    font-size: 40px;
    background-color: orange;
    user-select: none;
}

.btn:hover {
    border-top: 10px solid black;
    border-left: 10px solid black ;
    border-bottom: 10px solid rgb(255, 183, 50);
    border-right: 10px solid rgb(255, 183, 50);
    text-decoration: none;
    color: #202028;
}

.btnDialog{
    margin-right: 5px;
    padding: 5px 10px;
    border: solid black 3px;
    background-color: #fad02c;
    font-size: 20px;
}

.btnDialog:hover {
    padding: 5px 10px;
    border: solid black 3px;
    background-color: orange;
    font-size: 20px;
}

#hud {
    height: 100%;
    width: 60%;
    min-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.information{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.scoreAndMenu{
    border: 5px solid black;
    background-color: black;
    padding: 0 25px;
    width: 100%;
    margin-bottom: 5px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.manual{
    background-color: #202028;
    padding: 25px;
    border: 5px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

canvas {
    padding: 0;
    border: 5px solid black;
    width: 300px;
    height: 600px;
}

.scoreShow{
    font-size: 22px;
    color: white;
}

.text1{
    color: white;
    font-size: 20px;
}

#dialogMenu{
    z-index: 3;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: orange;
    border: 10px solid black;
}

#dialogGameOver{
    z-index: 3;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: orange;
    border: 10px solid black;
}

.dialogDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
}

