/* index.html settings */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1c3144;
        background-image: url("../images/background_blocksfall_standard_dark.png");
    }

    #theCreator {
        background-color: #1b1b1b90;
    }

    #theCreator>p {
        Color: #ffffff;
    }

    .main {
        background-color: #1E212D;
        border: 1.5vmin solid #1b1b1b;
    }

    .scoreAndMenu {
        background-color: #1b1b1b;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #EEF5DB;
        background-image: url("../images/background_blocksfall_standard.png");
    }

    #theCreator {
        background-color: #EEF5DB90;
    }

    .main {
        background-color: #FF9A00;
        border: 1.5vmin solid #1E212D;
    }

    .scoreAndMenu {
        background-color: #1E212D;
    }
}

* {
    user-select: none;
    -webkit-user-select: none;
    touch-action: auto;
}

html,
button {
    font-family: 'Oswald', sans-serif;
    touch-action: auto;
}

body {
    height: 100vh;
    margin: 0;
    background-size: 25vmin 25vmin;
    background-attachment: fixed;
    background-repeat: space;
    overscroll-behavior-y: contain;
    touch-action: auto;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 4vmin 0;
    border-radius: 15px;
    width: 700px;
    max-width: 80%;
    min-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.menuArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0.5vmin;
}

#initialScreen {
    opacity: 1;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    transition: 500ms;
    -webkit-transition: 500ms;
}

#mainScreen {
    opacity: 0;
    z-index: 0;
    transition: 1000ms;
    -webkit-transition: 1000ms;
}

#theCreator {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 2vmin;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 3vmin 0 0 0;
}

#theCreator>p {
    font-size: 2.5vmin;
    margin: 0;
}

#theCreator>p>a {
    color: #ef626c;
    text-decoration: none;
}

.main {
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-name: initialAnimation;
    animation-duration: 1s;
}

.scoreAndMenu {
    width: 101%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#gameOver .scoreAndMenu {
    justify-content: center;
}

img {
    border: 1vmin solid #ffffff;
    border-radius: 15px;
}

img.controlPC {
    width: 80%;
    margin: 4vmin;
}

img.controlMobile {
    width: 35%;
    margin: 4vmin;
}

@keyframes initialAnimation {
    0% {}

    100% {
        box-shadow: 1.5vmin 1.5vmin #00000080;
    }
}

@media (max-width: 600px) {
    .menuArea {
        flex-direction: column;
        margin: 2vmin;
    }

    #theCreator>p {
        font-size: 3.5vmin;
    }
}

@media (orientation: landscape) or (min-width: 1000px) {
    img.controlMobile {
        width: 20%;
    }
}

/* ending index.html settings */

/* play.html settings */
.divFlex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hud {
    background-color: #FF9A00;
    border: 1.5vmin solid #1E212D;
    border-radius: 3vmin;
    box-shadow: 10px 10px 5px #00000080;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

canvas {
    margin: 0 15px;
    padding: 0;
    width: 45vmin;
    height: 90vmin;
}

.scoreAndMenu2 {
    background-color: #1E212D;
    width: 101%;
    width: 46.4vh;
    margin: 1vmin;
    margin-bottom: 0;
    height: 10vmin;
    padding: 1vmin 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

canvas.canvasMobile {
    margin: 1vmin;
    width: 50.4vh;
    height: 67.2vh;
    background-color: #1E212D;
    border-radius: 0 0 2vmin 2vmin;
}

canvas#controlCanvas {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    width: unset;
    height: unset;
    z-index: 3;
}

canvas#hudGameplay {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    width: unset;
    height: unset;
    z-index: 2;
}

canvas#nextPiece {
    width: 10vmin;
    height: 10vmin;
}

@media all and (orientation: portrait) {
    div.scoreAndMenu2 {
        width: 55vw;
        padding: 2vmin 4vw;
    }

    canvas.canvasMobile {
        width: 63vw;
        height: 84vw;
        background-color: #1E212D;
    }
}

@media all and (orientation: portrait) and (max-width: 600px) {
    div.scoreAndMenu2 {
        width: 76vw;
        padding: 2vmin 4vw;
    }

    canvas.canvasMobile {
        width: 84vw;
        height: 112vw;
        background-color: #1E212D;
    }

    img.medals {
        border: unset;
        height: 25vmin;
        width: auto;
    }
}

.medals {
    border: unset;
    height: 15vmin;
    width: auto;
}

canvas#nextPiece {
    margin: 0;
}

/* ending play.html settings */